h1,
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* App */
.App {
  width: 360px;
  height: 568px;
  padding: 16px;
}

/* PriceDiscount */
.discount {
  display: flex;
  position: relative;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-bottom: 1px solid #dee0e3;
  padding-bottom: 16px;
}

.discount-percent {
  color: #6b90dc;
  font-size: 24px;
  font-weight: 700;
}

.discount-all {
  display: flex;
  align-items: center;
  padding-right: 30px;
}

.discount-real {
  color: #999999;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  text-decoration-line: line-through;
  margin-right: 8px;
}

.discount-move {
  font-size: 22px;
  font-weight: 400;
}

/* Delivery */
.delivery {
  padding: 16px 0;
  border-bottom: 1px solid #dee0e3;
}

.line {
  margin: 0 6px;
  color: #dee0e3;
}

.delivery-text {
  color: #6b90dc;
  font-weight: 700;
  margin-left: 6px;
}

.delivery div {
  color: #999999;
  margin-top: 8px;
  font-size: 14px;
}

/* Counter */
.counter {
  padding-top: 16px;
}

.counter-button {
  display: flex;
  width: 110px;
  height: 34px;
  border: 1px solid #dee0e3;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.counter-minus,
.counter-plus {
  padding: 10px 0;
  border: 0;
  flex-grow: 1;
}

.counter-result {
  text-align: center;
  flex-grow: 1;
}

.total {
  display: flex;
  padding: 16px 0;
  justify-content: space-between;
  margin-right: 30px;
  border-top: 1px solid #dee0e3;
}

.totalFirst {
  display: flex;
  align-items: center;
  font-weight: 700;
}

.totalFirst img {
  margin-left: 3px;
}

.totalSecond-text {
  color: #999999;
}

.totalSecond-number {
  color: #999999;
}

.totalSecond-amount {
  color: #6b90dc;
  font-weight: 700;
  font-size: 22px;
}

/* PurchageButton */
/* .purchage img {
  width: 328px;
  height: 48px;
} */
.purchage {
  width: 328px;
  height: 48px;
  background: #03c75a;
  border-radius: 6px;
}

.purchage:hover {
  background-color: #0AAE4F;
}

.purchage-click {
  display: flex;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding-top: 10px;
}

.purchage-click::before {
  display: block;
  width: 28px;
  height: 28px;
  background: url(./../public/assets/naver.svg);
  content: '';
}
